<h1>Emergency Setting</h1>
<p>Welcome! In this site, you can toggle the Emergency flag of your tenant to activate your emergency flow:</p>
<br/><br/>
<p>Tenant Name: <strong>ANZ CSAM 2.0 (Calling)</strong></p>
<p>Current Emergency Flag Setting: <strong>ACTIVATED</strong></p><button type="button" class="btn btn-success" disabled>DE-ACTIVATE Emergency</button>
<br/><br/>
<a>..... Please hold-on while we de-activate Emergency Flag</a>  <a class="btn btn-outline-dark btn-sm" href="emergency.html" role="button">Refresh Screen</a>
<br/><br/><br/><br/><br/><br/><br/><br/>
<strong>The GCF token request response a </strong> {{gcfToken.status}}
<br/>
<strong>Emergency Flag is </strong> {{emergencyGV.defaultValue}}
<br/>
<strong>The GCF token is </strong> {{gcfToken.token}}
<br/><br/>

<!--
{{#each gcfToken}}
    {{@key}} | {{this}}<br/>
{{/each}}
-->