<h1>Emergency Setting ERROR</h1>
<br/>
<p>You can set the Emergency flag in this site</p>
<strong>The GCF token request response a </strong> {{gcfToken.status}}
<!-- <p>{{gcfToken}}</p> -->
<p>{{emergencyGV.defaultValue}}</p>
<br/><br/>
<strong>The GCF token is </strong> {{gcfToken.token}}
<br/><br/>

<!--
{{#each gcfToken}}
    {{@key}} | {{this}}<br/>
{{/each}}
-->